// start _colors.scss

$color-white--0: #FFFFFF;
$color-white--1: #EEEEEE;
$color-white--2: #CCCCCC;
$color-white--3: #DDDDDD;
$color-white--4: #AAAAAA;

$color-black--0: #262626;
$color-black--1: #555555;
$color-black--2: #777777;
$color-black--3: #999999;

$color-vulcan--primary: #0C1323;
$color-blue--primary: #64B5F6;
$color-red--primary: #F06292;

// end _colors.scss