.intro {
	@include full-screen;
	@include background(#001738); // Really Old Browsers
	@include background(url("../images/stars.png") center top no-repeat, linear-gradient(#001738 15%, #002e72, #003380 100%) center bottom no-repeat);
	background-size: 100% 70%, cover;
	color: $color-white;	

	.vertical-center {
		@include vertical-center;
		text-align: center;
	}
	
	.logo {
		width: em(250px);
		margin-top: 2vh;
	}

	h1.title {
		@include margin(em(2px) 0 0);
		font-family: $title-font;
		@include font-sw(em(108px), 400);
		text-transform: uppercase;
		line-height: 1.15;

		span {
			color: $color-dodgerblue;
			font-weight: 300;
		}

		@media screen and (max-width: $bp-sm) { 
			@include font-sw(em(96px), 400);
		}
	}

	h3.description {
		@include margin(0);
		@include font-sw(em(24px), 300);
		color: $color-gallery;
	}

	h5.details {
		@include margin(em(3px) 0 0);
		@include font-sw(em(16px), 300);
		line-height: 1.5;
		color: $color-silver;
	}

	.btnApply {
		opacity: 1;
		
		&:hover { opacity: 1; }

		button {
			@include margin(7vh auto 0);
		}
	}
	
	.social {
	    position: absolute;
	    // right: 30px;
	    bottom: 30px;
	    width: 100%;
	    text-align: center;
	}
}