.subscribe {
	@include padding(0 0 em(50px));
	@include background(#162d50);
	text-align: center;

	#sub-form1 {
		@include margin(em(25px) auto 0);

		input, button {
			display: inline-block;
			box-shadow: 0 0 0 rgb(0, 0, 0);
		}

		h6 {
			@include margin(em(10px) auto 0);
			color: $color-silverchalice;
		}

		p.good {
			color: #2ecc71;
		}

		p.bad {
			color: #e74c3c;
		}
	}
}